In [2]:
a = 10

In [ ]:
# print,
# type,
# id,
# int,
# float,
# complex
# str,
# bool
# None
# True
# False

In [3]:
input()

'Hello'

In [4]:
input()

'123'

In [5]:
x = input()

In [6]:
type(x)

str

In [7]:
123.45 + 23

146.45

In [8]:
'123.45' + '23'

'123.4523'

In [9]:
# Numarics
# int, float , complex

# txt
# str => default

# Blooean
# bool

# NoneType

In [10]:
a = input()

In [11]:
print(a)

45

In [12]:
type(a)

str

In [13]:
a = input()
b = input()
c = input()

In [14]:
a = input("Enter value 1 : ")

In [15]:
a

'3'

In [16]:
b = int(a)

In [17]:
b

3

In [18]:
type(b)

int

In [19]:
a = int(input("Enter value for a : "))

In [20]:
type(a)

int

In [21]:
string = "10.5"

In [22]:
float(string)

10.5

In [23]:
string

'10.5'

In [25]:
string = "4+5j"
b  = complex(string)

In [26]:
type(b)

complex

In [27]:
print("hellow")

hellow

In [41]:
a = 4
b = 4.5
c = 4+5j
d = "4"

In [42]:
print(type(a))

<class 'int'>

In [43]:
print(type(b))

<class 'float'>

In [44]:
print(type(c))

<class 'complex'>

In [49]:
print(type(d))

<class 'str'>

In [46]:
int_a = int(a)
int_b = int(b)
int_c = int(c.real)
int_j = int(c.imag)
int_d = int(d)

In [47]:
print(type(int_a),int_a)
print(type(int_b),int_b)
print(type(int_c),int_c)
print(type(int_d),int_d)

<class 'int'> 4
<class 'int'> 4
<class 'int'> 4
<class 'int'> 4

In [48]:
# number
# a = 4
# b = 4.5
# c = 4+5j
# d = "4"

In [50]:
x = "4.5t"

In [51]:
int(x)

ValueError: invalid literal for int() with base 10: '4.5t'

In [53]:
x = "4.5"
float(x)

4.5

In [54]:
x = "4.5"
int(float(x))

4

In [55]:
x = "45 "
int(x)

45

In [56]:
x = "4 5 "
int(x)

ValueError: invalid literal for int() with base 10: '4 5 '

In [57]:
x = " 45 "
int(x)

45

In [ ]:
# float allowed "0-9, space at last or starting, '.'"
v = "3.45f"

In [59]:
float(v)

ValueError: could not convert string to float: '3.45f'

In [60]:
v = "3.45"
float(v)

3.45

In [61]:
v1 = '3.45'
v2 = '6.3'

float_v1 = float(v1)
float_v2 = float(v2)
print(float_v1 + float_v2)
print(v1 + v2)

9.75
3.456.3