In [1]:
def add(a,b):
    return a+b

In [2]:
add(3,4)

7

In [3]:
add(3,4,5)

TypeError: add() takes 2 positional arguments but 3 were given

In [4]:
a = 1,2,3

In [5]:
print(a)

(1, 2, 3)

In [6]:
from typing import List , Tuple, Any

In [ ]:
def sayHi(lst : List[str] , default = [1,2]) -> List[Any]:
    for i in lst:
        print(i.upper())
    return 1

In [22]:
sayHi(lst="python java c#".split())

PYTHON
JAVA
C#

1

In [18]:
a = 10

In [11]:
a : int = 10

In [12]:
a :float = 10

In [13]:
print(a)

10

In [ ]:
def sayHi1(lst ):
    for i in lst:
        print(i.)

In [29]:
lst : List[int] = [2,5,4,3,2,1,0,0,0]
target : int = 4
m  ={}
for i in range(len(lst)):
    c = target - lst[i]
    if c in m:
        print(m[c] ,i)
    m[lst[i]] =   i  
# possible outcomes = (0,2), ()

0 4
3 5
2 6
2 7
2 8

In [1]:
def mult(a,b):
    return a*b

In [2]:
a,b = 10,20
mult(a,b)

200

In [4]:
x,y,z = 1,2,3
output1 = mult(x,y)
output1

2

In [6]:
mult(output1, z)

6

In [7]:
mult(x,y,z)

TypeError: mult() takes 2 positional arguments but 3 were given

In [ ]:
def adv_mult(*a):
    print(type(a), a)

In [9]:
x,y,z = 1,2,3
adv_mult(x)

<class 'tuple'> (1,)

In [10]:
adv_mult(x,y,z)

<class 'tuple'> (1, 2, 3)

In [16]:
x = [1,2,3,4,5]
print("python","is", "a", "coding" "language", )
print("python","is", "a", "coding", "language", sep="***")

python is a codinglanguage
python***is***a***coding***language

In [19]:
print(x, sep="-")
print(*x, sep="-")
print(1,2,3,4,5,sep='-')

[1, 2, 3, 4, 5]
1-2-3-4-5
1-2-3-4-5

In [20]:
a = 1,2,3

In [21]:
type(a)

tuple

In [22]:
a,b = 1,2

In [25]:
def adv_add(*args) -> None:
    print(type(args), args)

In [26]:
adv_add(1,2,3)

<class 'tuple'> (1, 2, 3)

In [28]:
def adv_add(*args) -> int:
    output = 0
    for i in args:
        output = output + i # output1 += i
    return output

In [32]:
x,y,z=1,2,3
adv_add(x,y,z)

6

In [33]:
def greet(name):
    print(f'welcom {name}')

In [34]:
greet("python")

welcom python

In [35]:
greet()

TypeError: greet() missing 1 required positional argument: 'name'

In [36]:
def greet(name="Guest"):
    print(f'welcom {name}')

In [ ]:
greet("python")

welcom python

In [38]:
greet()

welcom Guest

In [42]:
print(1,2,3,4,5,6,7)
print(1,2,3,4,5,6,7, sep="->")

1 2 3 4 5 6 7
1->2->3->4->5->6->7

In [44]:
print(1,2,3,4,5,6,7, end="<--->")
print(1,2,3,4,5,6,7)

1 2 3 4 5 6 7<--->1 2 3 4 5 6 7

In [46]:
print(1,2,3,4,5,6,7, end="<--->")
print(1,2,3,4,5,6,7)
print("hello")

1 2 3 4 5 6 7<--->1 2 3 4 5 6 7
hello

In [ ]:
# team -> team_lead + and team member

SyntaxError: invalid syntax (622983022.py, line 1)

In [48]:
# ===================TEMA LEAD NAME =================
# - TEAM MEMBER1
# - TEAM MEMBER2

In [49]:
def display_team(*team):
    for name in team:
        print(f"- {name}")

In [50]:
team_lead = "Python"
team_member1 = "Cpython"
team_member2 = "Jython"
team_member3 = "Ironthon"

- Python
- Cpython
- Jython
- Ironthon

In [52]:
def display_team(*team, team_lead):
    for name in team:
        print(f"- {name}")
    print(team_lead)

TypeError: display_team() missing 1 required keyword-only argument: 'team_lead'

In [56]:
def display_team(team_lead , *team):
    print(team_lead.center(40,"="))
    for name in team:
        print(f"- {name}")

In [57]:
display_team(team_lead, team_member1, team_member2, team_member3)

=================Python=================
- Cpython
- Jython
- Ironthon

In [ ]:
def add(a,b):
    return a+b
add(3,4)