# FUNCTIONS

## Syntax
```python 
def <functionname>(<paremeter>: optional):
    statements
```

- First letter should be small letter
- function name can contain alpha numaric 
- only `-` spl char is allowed

In [10]:
# def hello_python():
# def helloPthon~f():

In [15]:
def greet():
    a = 10
    a  = a+1
    print(a)
    if a > 10:
        print(a,"is greater than 10")
    else:
        print(a,"is less than or equal to 10")
    lst = [1,2,3] 
    tup = (1,2,3,4)
    s = {1,2,3,4,5}
    d  = dict(a=10,b=20)

    for l in lst:
        print(l)

    i = 0
    while i < len(tup):
        print(tup[i])
        i += 1

In [16]:
a = 10

In [17]:
print(a)

10

In [18]:
greet()

11
11 is greater than 10
1
2
3
1
2
3
4

In [21]:
name = 'python'
print('='*30)
print(name.center(30,' '))
print('='*30)

==============================
            python
==============================

In [22]:
name2 = 'WELCOME TO PYTHON'
print('='*30)
print(name2.center(30,' '))
print('='*30)

==============================
      WELCOME TO PYTHON
==============================

In [23]:
name3 = "VS CODE"
print('='*30)
print(name3.center(30,' '))
print('='*30)

==============================
           VS CODE
==============================

In [ ]:
def welcome(name) -> None:
    print('='*30)
    print(name.center(30,' '))
    print('='*30)

In [25]:
welcome()

TypeError: welcome() missing 1 required positional argument: 'name'

In [33]:
name = "PYTHON"
name2 = 'JAVA'
name3 = 'GO lang'
welcome(name=name)
print('\n\n')
welcome(name=name2)
print('\n\n')
welcome(name3)

==============================
            PYTHON
==============================



==============================
             JAVA
==============================



==============================
           GO lang
==============================

In [34]:
welcome(1)

==============================

AttributeError: 'int' object has no attribute 'center'

In [28]:
name = "PYTHON"
name2 = 'JAVA'
name3 = 'GO lang'
welcome(name, name2, name3)

TypeError: welcome() takes 1 positional argument but 3 were given

In [41]:
def welcome(name : str):
    print('='*30)
    print(name.center(30,' '))
    print('='*30)

In [42]:
def add(a,b):
    print(a+b)

In [43]:
add(2,3)

5

In [44]:
add("hello ", "world")

hello world

In [45]:
lst1 = [1,2,3]
lst2 = [4,5,6]
add(lst1, lst2)

[1, 2, 3, 4, 5, 6]

In [46]:
tup1 = (1,2,3)
tup2 = (4,5,6)
add(tup1, tup2)

(1, 2, 3, 4, 5, 6)

In [47]:
set1 = {1,2,3}
set2 = {4,5,6}
add(set1, set2)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [36]:
a = 10

In [37]:
a : int = 10

In [38]:
a : int = 4.5

In [39]:
print(a)

4.5

In [60]:
def function(arg1, arg2,*args ,**kwargs):
    print(type(arg1))
    print(type(arg2))
    print(type(args))
    print(type(kwargs))

In [ ]:
function(1,2,4,5,6,7,8,9,a=10,b=20)

<class 'int'>
<class 'int'>
<class 'tuple'>
<class 'dict'>

In [62]:
def function1(arg1,*args,arg2 ,**kwargs):
    print(type(arg1))
    print(type(arg2))
    print(type(args))
    print(type(kwargs))

In [63]:
function1(1,2,3,4,5,6)

TypeError: function1() missing 1 required keyword-only argument: 'arg2'

In [64]:
function1(arg1=1,arg2=2)

<class 'int'>
<class 'int'>
<class 'tuple'>
<class 'dict'>

In [65]:
def function2(arg1,/,*args,arg2 ,**kwargs):
    print(type(arg1))
    print(type(arg2))
    print(type(args))
    print(type(kwargs))

In [ ]:
function2(30 , arg2=40)

<class 'int'>
<class 'int'>
<class 'tuple'>
<class 'dict'>

In [68]:
function2(30,arg1=40 , arg2=40)

<class 'int'>
<class 'int'>
<class 'tuple'>
<class 'dict'>

In [69]:
def function3(arg1,*args,arg2 ,**kwargs):
    print(type(arg1))
    print(type(arg2))
    print(type(args))
    print(type(kwargs))

In [71]:
function3(30,arg1=40 , arg2=40)

TypeError: function3() got multiple values for argument 'arg1'

In [ ]:
def function4(arg1,/,args,arg2 , *tup , *,kwargs, kwarg2, **kwargs4):
    print(type(arg1))
    print(type(arg2))
    print(type(args))
    print(type(kwargs))

In [81]:
function4(2,3,4, kwarg2=4, kwargs=4, dummy=1, dummy3=3)

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>